body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #228b22;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    background-color: #006400;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #228b22;
    color: white;
}

body {
    background-image: url('imgfloricultura1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header, .main, .footer {
    background-color: rgba(0, 0, 0, 0.6); /* Transparência para facilitar a leitura */
    padding: 20px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul.menu li {
    display: inline;
}

nav ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul.menu li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 246, 48);
}
h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 246, 48);
}
.submenu {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}